/* basics */

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

button,
.btn {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
    /* margin: 7px;
    padding: 7px;
    font-size: 0.7rem; */
}

select {
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    outline: 0;
    padding: 4px;
    cursor: pointer;
}

.search-input{
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    outline: 0;
    padding: 4px;
}