/* basics */

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

ul {
    padding: 0px;
}

li {
    list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}