@import './cmps/app-header.css';
@import './basic.css';
@import './helper.css';
@import './apps/email/email-main.css';
@import './apps/keep/keep-main.css';
@import './cmps//user-msg.css';
html {
    scroll-behavior: smooth;
}

.app {
    height: 100vh;
}

.general-container {
    width: 90%;
    max-width: 1200px;
    height: 100%;
}