@import './cmps/app-header.css';
@import './basic.css';
@import './helper.css';
@import './apps/email/email-main.css';
@import './apps/keep/keep-main.css';
@import './cmps//user-msg.css';
@import './home.css';
@import './about.css';

html {
    scroll-behavior: smooth;
    background-color: rgb(49 49 47);
}

.app {
    
}

.general-container {
    /* width: 90%;
    max-width: 1200px; */
    height: 100%;
}