.sidebar {
    width: 250px;
    /* position: absolute; */
    /* left: 0; */
    height: 100%;
    background-color: #fff;
    padding: 50px 5px;
    /* border-right: gray 1px solid;
    border-left: gray 1px solid; */
}

.sidebar i {
    /* background-color: green; */
}

.sidebar .compose-btn {
    font-size: 1.1em;
    padding: 10px;
    border-radius: 10px;
    background: rgb(247, 245, 245);
}

.sidebar .category-btn {
    font-size: 1.1em;
    padding: 10px;
    border-radius: 10px;
    color: rgb(109, 108, 108);
    background-color: transparent;
    justify-self: center;
    align-self: stretch;
    margin: 0;
    padding: 30px 15px;
    border-bottom: rgb(148, 148, 148) 1px solid;
    border-radius: 0px;
    text-align: center;
}

.sidebar .category-btn i {
    margin-right: 7px;
}