.email-compose {
    position: absolute;
    bottom: 0px;
    left: 5px;
    border: 1px solid rgb(51, 51, 51);
    color: rgb(122, 122, 122);
    padding: 0px;
    z-index: 1;
    background-color: white;
}

.email-compose .new-email-header {
    background-color: rgb(51, 51, 51);
    padding: 5px;
}

.email-compose h3 {
    margin: 0;
    color: rgb(226, 226, 226);
    font-size: 0.8em;
    font-weight: normal;
}

.email-compose input {
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.email-compose p {
    margin: 0;
    padding-top: 5px;
    font-size: 0.75em;
}

.email-compose label {
    padding: 0px 5px;
    border-bottom: rgb(221, 221, 221) 0.5px solid;
}

.email-compose textarea {
    border: none;
    outline: none;
    resize: none;
}