nav.main-nav {
    background-color: rgb(49, 49, 49);
    color: rgb(197, 197, 197);
    height: 80px;
    padding: 10px 20px;
    width: 100vw;
    font-size: 1.8rem;
}

nav.main-nav .fa-earlybirds {
    color: rgb(197, 197, 197);
    /* color: rgb(93, 175, 151); */
    font-size: 2rem;
    margin-right: 10px;
}

nav.main-nav ul li {
    display: inline-block;
}

nav.main-nav a {
    margin: 7px;
}

nav.main-nav a:hover {
    font-weight: bold;
}

.grid-container{
    position: absolute;
    top: 31px;
    right: 32px;
    box-shadow:  3px 4px 14px 0px #888888;
    border-radius: 10px;
    width: 300px;
    height: 331px;
    background: #72af9e;
}

.close-nav-btn{
    position: absolute;
    top: 10px;
    right: 11px;
    font-weight: bold;
    background: transparent;
}

.nav-grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr );
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 30px;
    
}

.nav-item{
    margin: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
}



.works{
    color: black;
}

.false{
    color: gray;
}

.nav-icon{
    font-size: 3rem;
}

.nav-desc{
    font-size: 1rem;
    margin-top: 5px;
}