.user-msg{
    position: absolute;
    top: 0;
    right: -10px;
    background-color: rgb(51, 51, 51);
    padding: 10px 20px;
    border-radius: 10px;
    min-width: 220px;
    max-width: 300px;
    text-align: end;
}

.v-icon{
    font-size: 2.3rem;
    color: lightgreen;
}

.user-msg-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msg{
    margin-left: 50px;
    margin-right: 20px;
    color: rgb(228, 228, 198);
}

.user-msg-btn{
    background-color: transparent;
    font-size: 1.4rem;
    color: gray;
}