.keep-edit{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
}


.keep-edit-form{
    display: flex;
    flex-direction: column;
}

.keep-edit input{
    width: 300px;
    height: 30px;
    border: none;
}

.keep-edit input:focus{
    outline: none;
}

.edit-icons{
display: flex;
justify-content: space-around;
align-items: stretch;
width: 300px;
}

.edit-icon{
    cursor: pointer;
    font-size: 1.3rem;
}

.edit-icon:hover{
    color: gold;
}