.keep-notes-list {
    column-count: 3;
    column-gap: 20px;
}



@media (max-width: 1000px){
    .keep-notes-list {
        column-count: 2;
    }
}

@media (max-width: 690px){
    .keep-notes-list {
        column-count: 1;
    }
}