.keep-note-preview {
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px #888888;
    max-width: 400px;
    margin: 10px;
    padding: 6px;
}


.note-header{
    height: 30px;
}

.note-delete{
    height: 20px;
    font-weight: bold;
    color: #888888;
    background-color: none;
    border: none;
}
.keep-note-preview img{
    max-width: 300px;
}