.keep-edit{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px 0px #888888;
    background-color: whitesmoke;
}


.keep-edit-form{
    display: flex;
    flex-direction: column;
}

.keep-edit input{
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgb(167, 161, 161);
    font-size: 1.1rem;
    background-color: whitesmoke;
}

.keep-edit input:focus{
    outline: none;
}

.save-btn{
    width: 62px;
    height: 30px;
    margin-top: 10px;
    background-color: #424242;
    color: #c5c5c5;
    border-radius: 5px;
}

.add-todo-btn{
    font-size: 1.1rem;
    border-radius: 50%;
    border: 1px solid #424242;
    background-color: none;
    background-color: transparent;
    font-weight: bold;
}

.edit-icons{
display: flex;
justify-content: space-around;
align-items: stretch;
width: 300px;
}

.edit-icon{
    cursor: pointer;
    font-size: 1.3rem;
}

.edit-icon:hover{
    color: gold;
}

@media (max-width: 430px){
    .keep-edit{
        width: 95%;
    }

    .edit-icons{
        width: 100%;
    }

    .keep-edit input{
        width: 85%;
    }
}