@import './cmps/email-list.css';
@import './cmps/email-preview.css';
@import './cmps/email-preview.css';
@import './cmps/email-compose.css';
@import './cmps/email-reply.css';
@import './cmps/email-sidebar.css';
@import './cmps/email-details.css';
@import './cmps/email-status.css';
.email-app-container {
    /* background-color: grey; */
    height: 100%;
    width: 100vw;
}

.email-main {
    flex: 1
}