@import './keep-note-preview.css';
@import './cmp/keep-notes-list.css';
@import './cmp/keep-edit.css';
@import './cmp//keep-note-footer.css';
@import './cmp/keep-pinned-notes-list.css';
@import './list-header.css';

.keep-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i:hover{
    cursor: pointer;
}

.keep-filter{
    margin-top: 10px;
}