@import './keep-note-preview.css';
@import './cmp/keep-notes-list.css';
@import './cmp/keep-edit.css';
@import './cmp/keep-add-txt.css';

.keep-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}