.keep-note-preview {
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px #888888;
    max-width: 320px;
    min-width: 220px;
    margin-bottom: 10px;
    padding: 6px;
    break-inside: avoid-column;
}


.note-header{
    height: 30px;
}

.note-delete{
    height: 20px;
    font-weight: bold;
    color: #888888;
    background-color: none;
    border: none;
}

.keep-note-preview img{
    width: 100%;
}

.keep-note-todos{
    margin-left: 10px;
}

.keep-note-todo{
    list-style: circle;
    margin-left: 8px;
    width: 250px;
    margin-bottom: 5px;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keep-note-txt{
    min-width: 300px;
}